<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
  <title>Nomad News</title>
   <div>
      Order by:
      {% if order_by == 'new' %}
        <a href="/?order_by=popular">Popular</a>
      {% else %}
        <strong>Popular</strong>
      {% endif %}
      |
      {% if order_by == 'popular' %}
        <a href="/?order_by=new">New</a>
      {% else %}
        <strong>New</strong>
      {% endif %}
    </div>
</head>

<body>
  <h1>Nomad News</h1>

  {%for result in ResultList%}
  <div>
   <div>
        <div>
          <a href="/{{result.ObjectID}}">
            <h3>{{result.Title}}</h3>
          </a>
          <a href="{{result.URL}}" target="_blanl">{{result.URL}}</a>
        </div>
        <div>
            {{result.Point}} points | By: {{result.Author}} | {{result.Num_comments}} comments
        </div>
      </div>
  </div>
  {% endfor %}

</body>

</html>